##### gbooking v1.0 ######

HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility AUTHPRIV
LogLevel INFO

StrictModes      yes
LoginGraceTime    15
MaxAuthTries       1
MaxSessions       10

PermitRootLogin                 yes
PermitRootLogin without-password
PermitEmptyPasswords            no

ChallengeResponseAuthentication yes
PubkeyAuthentication            yes
PubkeyAcceptedKeyTypes          ssh-ed25519
PasswordAuthentication          no
KerberosAuthentication          no
GSSAPIAuthentication            no
UsePAM                          yes

AuthorizedKeysFile .ssh/authorized_keys
AuthenticationMethods publickey,keyboard-interactive

TCPKeepAlive           yes
PrintMotd              yes

X11Forwarding          no
PermitUserEnvironment  no
AllowAgentForwarding   no
AllowTcpForwarding     no
PermitTunnel           no

Subsystem sftp  /usr/libexec/openssh/sftp-server
